.get {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-bottom: 2em;

    @media screen and (min-width: 993px) {
        background: #F4F4F4;
        padding-top: 2em;
    }

    &-grid {
        display: grid;
        grid-template-rows: minmax(min-content, max-content);
        row-gap: 1em;
        grid-template-areas:
            "title"
            "content"
            "img";

        @media screen and (min-width: 993px) {
            grid-template-columns: repeat(2, auto);
            row-gap: 1em;
            grid-template-areas:
            "content title"
            "content img";
            align-items: center;
        }
    }

    &__title {
        grid-area: title;
        @include Motserrat-bold;
        font-size: 32px;
        line-height: 38px;
        color: $main-color;
        padding-top: 1em;
        margin: 0 20px;
        

        @media screen and (min-width: 523px) {
            font-size: 42px;
            line-height: 44px;
            margin: 0;
        }

        @media screen and (min-width: 993px) {
            font-size: 48px;
            line-height: 50px;
            padding: 0;
        }
    }

    &__card-wrapper {
        grid-area: content;
        @include flex-center;
        flex-direction: column;
        gap: 2em;
        @include Motserrat-regular;
        color: #848E97;
        font-size: 14px;
        line-height: 21px;
        margin: 2em 0;

        @media screen and (min-width: 993px) {
            margin: 0;
        }
    }

    &__img {
        grid-area: img;
        display: flex;
        justify-content: flex-end;
        
        @media screen and (max-width: 523px) {
            background: url(../dist/images/get-image.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: left;
            height: 381px;
            width: 100%;
            min-width: 300px;
        }

        @media screen and (min-width: 993px) {
            margin-bottom: 0;
        }
        
        img {
            width: 100%;
            height: 100%;
            min-width: 317px;
            max-width: 700px;
        }

        .get__img-picture {
            display: none;

            @media screen and (min-width: 523px) {
                display: flex;
            }
        }
    }
}

.get__card {
    @include flex-space;
    flex-direction: column;
    gap: 2em;
    min-width: 268px;
    height: 210px;

    @media screen and (min-width: 481px) {
        flex-direction: row;
        max-width: 703px;
        max-height: 105px;
    }
    
    @media screen and (min-width: 993px) {
        flex-direction: row;
        max-width: 540px;
        max-height: 111px;
        gap: 2em;
    }

    &-icon {
        width: 111px;
        display: flex;
        justify-content: center;
    }

    &-text {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1em;

        @media screen and (min-width: 481px) {
            flex: 5;
            text-align: left;
        }

        @media screen and (min-width: 993px) {
            gap: 0.5em;
            min-width: 367px;
        }

        .get__card--subtitle {
            font-size: 16px;
            color: $editor-section-color;
        }
    }
}